doctype html
html(lang="en", data-ng-app="apolo")

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(name='description', content='{{app.description}}')

    title(data-ng-bind="::pageTitle()") Apolo - Arquitetura Base

    link(rel='icon', href='app/img/logo-single.png', type="image/x-icon")

    // Bootstrap styles
    link(rel='stylesheet', href='app/css/bootstrap.css', data-ng-if="!app.layout.isRTL")
    link(rel='stylesheet', href='app/css/bootstrap-rtl.css', data-ng-if="app.layout.isRTL")
    // Application styles
    link(rel='stylesheet', href='app/css/app.css', data-ng-if="!app.layout.isRTL")
    link(rel='stylesheet', href='app/css/app-rtl.css', data-ng-if="app.layout.isRTL")

    link(rel='stylesheet', href='app/css/apolo.css', data-ng-if="!app.layout.isRTL")
    link(rel='stylesheet', href='app/css/apolo-rtl.css', data-ng-if="app.layout.isRTL")

    // Themes
    link(rel='stylesheet', ng-href='{{"app/css/" + app.layout.theme + ".css"}}', data-ng-if="app.layout.theme")

    // Other styles
    link(rel='stylesheet', href='vendor/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='vendor/simple-line-icons/css/simple-line-icons.css')
    link(rel='stylesheet', href='vendor/ui-select/dist/select.css')

    link(rel='stylesheet', href='vendor/whirl/dist/whirl.css')

  body(data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled}")

    div(data-preloader)

    .wrapper(data-ui-view="", data-autoscroll='false')

    script(src='app/js/base.js')
    script(src='app/js/app.js')
    //- templates:js
    //- endinject
