<h3>
  {{'tenant.view.title' | translate}}
  <small>{{ 'tenant.view.description' | translate }}</small>
</h3>
<div class="row">
  <div class="col-xs-12">
    <div ng-controller="TenantController as ctrl" data-ng-init="ctrl.view()" class="content animate-panel">

      <form role="form"
            novalidate=""
            class="form-validate mb-lg">

        <div ng-include="'app/views/tenant/_form.html'"></div>

        <div class="form-group">
          <br />
          <a class="btn btn-default"
             href="#/tenant/list"
             translate="common.back"
                  >
            Cancel
          </a>

        </div>
      </form>

    </div>
  </div>
</div>

