<div ng-include="'app/views/partials/_message.html'"></div>

<input type="hidden"
        id="id"
        name="id"
        ng-model="ctrl.group.id"
    />

<div class="row container-form">

    <div class="form-group has-feedback col-md-12 col-sm-12">
        <label for="name" translate="permissionGroup.name">
          Name
        </label>
        <input type="text"
                id="name"
                name="name"
                placeholder="{{'permissionGroup.name' | translate}}"
                ng-model="ctrl.group.name"
                required="required"
                class="form-control"
                ng-readonly="isReadonly"
            />
    </div>

    <div class="form-group has-feedback col-md-12 col-sm-12 permission-list">
        <label translate="permissionGroup.permissions">
            Groups
        </label>

        <ui-select multiple
                   ng-model="ctrl.group.permissions"
                   theme="bootstrap"
                   ng-disabled="isReadonly"
                   close-on-select="true"
                >

            <ui-select-choices repeat="permission in ctrl.permissions | orderBy: permission ">
                <div>
                    {{'permission.'+ permission | translate}}
                </div>
            </ui-select-choices>

            <ui-select-match placeholder="{{'common.select' | translate }}">
                {{'permission.'+$item | translate}}
            </ui-select-match>
        </ui-select>
    </div>


</div>
