<h3>
  {{'permissionGroup.create.title' | translate}}
  <small>{{ 'permissionGroup.create.description' | translate }}</small>
</h3>
<div class="row">
  <div class="col-xs-12">
    <div ng-controller="PermissionGroupController as ctrl" data-ng-init="ctrl.createForm()" class="content animate-panel">

      <form role="form"
            ng-submit="ctrl.create()"
            name="ctrl.createForm"
            novalidate=""
            class="form-validate mb-lg">

        <div ng-include="'app/views/permissionGroup/_form.html'"></div>

        <div class="form-group">
          <br />
          <button type="submit" class="btn btn-primary" ng-show="!isReadonly" >
            {{'common.save' | translate}}
          </button>

          <a class="btn btn-default"
             href="#/group/list"
             translate="common.cancel"
                  >
            Cancel
          </a>

        </div>
      </form>

    </div>
  </div>
</div>

