<h3>
    {{'permissionGroup.list.title' | translate}}
    <small>{{ 'permissionGroup.list.description' | translate }}</small>
</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="" ng-controller="PermissionGroupController as ctrl" data-ng-init="ctrl.list()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="{{'common.filter' | translate}}" ng-model="userFilter" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row container-list">
                        <div class="col-sm-12">
                            <div class="alert alert-info" ng-if="ctrl.groups.list == null">
                                <p>
                                    {{'message.no_data_found' | translate}}
                                </p>
                            </div>

                            <div class="table-responsive" ng-if="ctrl.groups.list">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th translate="permissionGroup.name">
                                            Name
                                        </th>
                                        <th translate="permissionGroup.permissions">
                                            Permissions
                                        </th>
                                        <th translate="common.actions">
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="group in ctrl.groups.list | orderBy: 'name' | filter:userFilter ">
                                        <td>
                                            <a href='#/group/{{group.id}}/view'>
                                                {{group.name}}
                                            </a>
                                        </td>
                                        <td>
                                            <ui-select multiple
                                                       ng-model="group.permissions"
                                                       theme="bootstrap"
                                                       ng-disabled="true"
                                                       close-on-select="true"
                                                    >

                                                <ui-select-choices repeat="permission in group.permissions | orderBy: permission ">
                                                    <div ng-bind-html="permission"></div>
                                                </ui-select-choices>

                                                <ui-select-match placeholder="{{'common.select' | translate }}">
                                                    {{'permission.'+$item | translate}}
                                                </ui-select-match>

                                            </ui-select>

                                        </td>
                                        <td>
                                            <a href='#/group/{{group.id}}/edit'
                                               class="btn btn-default"
                                               data-toggle="tooltip"
                                               title="{{'common.edit' | translate}}">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>