<div ui-view="" autoscroll="false" class="ng-zoomBackDown ng-fluid"></div>
<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center loginHeader">
         <a ui-sref="apolo.home">
            <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <div ng-show="auth.authMsg" class="alert alert-danger text-center">
             {{auth.message}}
         </div>
         <form role="form"
               ng-submit="auth.login()"
               name="auth.loginForm"
               novalidate=""
               class="container-auth form-validate mb-lg">

             <div class="form-group has-feedback">
                <input id="exampleInputEmail1"
                      type="email"
                      name="account_email"
                      placeholder="{{'auth.email' | translate}}"
                      autocomplete="off"
                      ng-model="auth.account.email"
                      required=""
                      class="form-control"
                        />
                 <span ng-show="auth.loginForm.account_email.$dirty &amp;&amp; auth.loginForm.account_email.$error.required" class="text-danger">
                     {{'message.required_field' | translate}}
                 </span>
                 <span ng-show="auth.loginForm.account_email.$dirty &amp;&amp; auth.loginForm.account_email.$error.email" class="text-danger">
                     {{'auth.valid_email' | translate}}
                 </span>
             </div>

            <div class="form-group has-feedback">
               <input id="exampleInputPassword1"
                      type="password"
                      name="account_password"
                      placeholder="{{'auth.password' | translate}}"
                      ng-model="auth.account.password"
                      required=""
                      class="form-control"
                   />
               <span ng-show="auth.loginForm.account_password.$dirty &amp;&amp; auth.loginForm.account_password.$error.required" class="text-danger">
                  {{'message.required_field' | translate}}
               </span>
            </div>
            <div class="clearfix">
               <div class="pull-right">
                  <a ui-sref="page.recover" class="text-muted">
                     {{'auth.forgot_password' | translate}}
                  </a>
               </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary mt-lg">
               {{'auth.login' | translate}}
            </button>
         </form>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>