<h3>
    {{'user.list.title' | translate}}
    <small>{{ 'user.list.description' | translate }}</small>
</h3>
<div class="row">
    <div class="col-xs-12">
        <div class=""
             ng-controller="UserController as ctrl"
             data-ng-init="ctrl.list()"
        >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="{{'common.filter' | translate}}" ng-model="userFilter" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row container-list">
                        <div class="col-sm-12">
                            <div class="alert alert-info" ng-if="ctrl.users.list == null">
                                <p>
                                    {{'message.no_data_found' | translate}}
                                </p>
                            </div>

                            <div ng-include="'app/views/partials/_pagination.html'"></div>

                            <div class="table-responsive" ng-if="ctrl.users.list">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th translate="user.name">
                                            Name
                                        </th>
                                        <th translate="user.email">
                                            Email
                                        </th>
                                        <th translate="user.mobile">
                                            Mobile
                                        </th>
                                        <th translate="common.actions"
                                            apolo-permission="USER_EDIT, USER_REMOVE">
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="user in ctrl.users.list | orderBy: 'name' | filter:userFilter ">
                                        <td>
                                            <a href='#/user/{{user.id}}/view'>
                                                {{user.name}}
                                            </a>
                                        </td>
                                        <td>
                                            {{user.email}}
                                        </td>
                                        <td>
                                            {{user.mobile}}
                                        </td>
                                        <td apolo-permission="USER_EDIT, USER_REMOVE">
                                            <a href='#/user/{{user.id}}/edit'
                                               class="btn btn-default"
                                               data-toggle="tooltip"
                                               title="{{'common.edit' | translate}}"
                                               apolo-permission="USER_EDIT"
                                               >
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div ng-include="'app/views/partials/_pagination.html'"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>