<!-- Page content-->
<div ui-view="" autoscroll="false" ng-class="app.viewAnimation" class="content-wrapper">
    <h3>
        {{'user.view.title' | translate}}
        <small>{{ 'user.view.description_me' | translate }}</small>
    </h3>
    <div class="row">
        <div class="col-xs-12">
            <div ng-controller="UserController as ctrl" data-ng-init="ctrl.me()" class="content animate-panel">

                <div ng-include="'app/views/user/_form.html'"></div>

                <div class="form-group">
                    <br />
                    <a class="btn btn-default"
                       href="#/home">
                        <i class="fa fa-home"></i>
                        {{'common.home' | translate}}
                    </a>

                    <a class="btn btn-default"
                       href="#/user/{{ctrl.user.id}}/edit"
                            data-ng-if="ctrl.user.id == principal.id && principal.tenant.id == tenant.id">
                        <i class="fa fa-pencil-square-o"></i>
                        {{'common.edit' | translate}}
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>