<!-- top navbar-->
<header ng-include="'app/views/partials/top-navbar.html'" class="topnavbar-wrapper"></header>
<!-- sidebar-->
<aside ng-include="'app/views/partials/sidebar.html'" ng-controller="SidebarController" class="aside"></aside>
<!-- Main section-->
<!-- Page content-->
<section ui-view="">
</section>
<!-- Page footer-->
<footer ng-include="'app/views/partials/footer.html'"></footer>