<!-- Page content-->
<div ui-view="" autoscroll="false" ng-class="app.viewAnimation" class="content-wrapper">
   <h3>
      {{'app.home.title' | translate}}
      <small>{{'app.home.description' | translate}}</small>
   </h3>

   <div class="row">
      <div class="col-xs-12">
         <p>
            {{'app.home.text1' | translate}}
         </p>
         <p>
            {{'app.home.text2' | translate}}
         </p>
         <p>
            {{'app.home.text3' | translate}}
            &nbsp;<a href="https://br.linkedin.com/in/macielbombonato" target="_blank">Maciel Escudero Bombonato</a>.
         </p>
         <p>
            {{'app.home.text4' | translate}}
         </p>
         <ul>
            <li><a href="https://bitbucket.org/macielbombonato/apolo" target="_blank">Bitbucket</a></li>
            <li><a href="https://github.com/macielbombonato/apolo" target="_blank">Github</a></li>
         </ul>
      </div>
   </div>
</div>
